* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5; 
}
.fixed-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 11px;
    box-sizing: border-box;
    font-size: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.fixed-bar img{
    width: 75px;
}

.mensages {
    background-color: #E5E5E5;
}

.mensage {
    display: flex;
    width: 100vw;
    background-color: #DCDCDC;
    font-size: 14px;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 10px 6px;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 23px;
    text-justify: middle;
    word-wrap: break-word;
}

.complete-mensage{
    width: 100vw;
    word-wrap: break-word;
}

.reservad {
    background-color: #FFDEDE;
}

.public {
    background-color: #FFFFFF;
}

.input-text {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    font-size: 28px;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 16px 22px 11px;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.input-text textarea {
    border: none;
    font-size: 16px;
    color: #000000;
    width: 80%;
    height: 60px;
    resize: none;
}

.input-text textarea::placeholder {
    font-size: 16px;
    color: #000000;
    vertical-align: middle;
    line-height: 60px;
}

.input-text textarea:focus {
    outline: none;
}

.input-text textarea:focus::placeholder {
    color: #FFFFFF;
}

.messages {
    padding: 26px 0 90px;
    box-sizing: border-box;
}

.time {
    color: #AAAAAA;
    margin-right: 5px;
}

.name {
    margin: 0 4px;
}

.text-mensage {
    margin-left: 2px;
}





.contact-options {
    display: none;
}